.movie-page {
  display: flex;

  min-width: 50vh;
  padding: 2rem;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.movie-page > img {
  object-fit: fill;
}

.rating {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  padding: 0 5px;
  min-height: 2rem;
  min-width: 70px;
  margin-left: 1rem;
  max-height: 2rem;
  align-items: center;
  justify-content: center;
}

.movie-detail-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  width: 100%;
}

.movie-poster {
  /* border: 2px solid #fff; */
  width: 60%;
  margin-bottom: 1rem;
  justify-self: center;
}

.rated-title {
  display: flex;
  margin: 1rem 0;
  align-self: flex-start;
}

.movie-text {
  margin: 1rem 0 2rem 1rem;
}

.movie-info {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
  .go-back {
    left: 1rem;
    top: 1rem;
  }

  .movie-wrapper {
    justify-content: center;
  }

  .movie-page {
    justify-content: center;
  }

  .movie-detail-info {
    width: 60%;
  }

  .movie-poster {
    width: 80%;
  }

  .rated-title {
    margin-bottom: 2rem;
  }

  .movie-info {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .movie-page {
    padding: 3rem;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .movie-detail-info {
    flex-direction: row;
    align-items: flex-end;
    min-width: 900px;
  }

  .movie-poster {
    border: 2px solid #333;
    width: 40%;
    margin-bottom: 0;
  }

  .movie-info {
    margin-left: 1.5rem;
  }
}
